**Finn McEvoy** - Automated Data Visualisation for Policymaking

<a href="https://colab.research.google.com/drive/1yHaDbLSf89px7sp5xDJekfXqbv8ZeozB?usp=sharing" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd     # using 'as' just allows us to use a shorthand for accessing package functions. e.g. pd.read_csv() instead of pandas.read_csv()
# install altair because it doesn't come with Colab
!pip install altair
import altair as alt

Requirement already satisfied: altair in /usr/local/lib/python3.10/dist-packages (4.2.2)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair) (4.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from altair) (1.26.4)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.10/dist-packages (from altair) (2.2.2)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair) (0.12.1)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (0.20.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2024.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair) (3.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.18->altair) (1.16.0)

# Transforming Data

The bread and butter of a data workflow is cleaning and preparation, taking raw datasets and transforming them into a useful form.

</br></br></br></br>



## Introducing Tools: Pandas

The first tool we'll use today is `Pandas`, a Python library used to work with datasets. It provides access to `DataFrames` - tables we analyse with code.

Python already has a few built in data structures, for example lists and dictionaries:

</br></br></br>

In [ ]:
london = {
    "name": "London",
    "population": 8308369,
    "area": 1572
} # This is an example of a dictionary

locations = [ # This is an example of a list of dictionaries
    {
        "name": "London",
        "population": 8_982_000,
        "area": 606
    },
    {
        "name": "Newport",
        "population": 128_060,
        "area": 32.52
    },
    {
        "name": "Darlington",
        "population": 93_015,
        "area": 7.62
    },

]


<br>
<br>
<br>
<br>
Which we can turn into Pandas `DataFrames`

In [ ]:
df = pd.DataFrame(locations)
df

         name  population    area
0      London     8982000  606.00
1     Newport      128060   32.52
2  Darlington       93015    7.62

<br>

We can access column values using the column name

In [ ]:
df['area']

0    606.00
1     32.52
2      7.62
Name: area, dtype: float64

<br>

Just like we can perform mathematical operations on variables in Python, we can perform operations on entire columns.

For example, we can add a density column:

In [ ]:
df['density'] = df['population'] / df['area']
df

         name  population    area       density
0      London     8982000  606.00  14821.782178
1     Newport      128060   32.52   3937.884379
2  Darlington       93015    7.62  12206.692913

</br></br>
</br>
</br>
</br>
or sort our dataframe

In [ ]:
sorted_df = df.sort_values(by=['density'], ascending=False)
sorted_df

         name  population    area       density
0      London     8982000  606.00  14821.782178
2  Darlington       93015    7.62  12206.692913
1     Newport      128060   32.52   3937.884379

<br>

# Practical: Transforming data with `Pandas`

First, we'll use a built-in Pandas function for reading Excel files. Pandas also contains functions for reading other types of files (e.g. `.read_csv()`, `.read_json()`, `.read_html`, etc. Find them all [here](https://pandas.pydata.org/docs/reference/io.html).)

When reading in a file, we can either use a *relative* link to access files stored locally, or we can pass a URL to automatically read in files from the Web. Here, we'll use the raw link to an Excel file stored on GitHub.

- **Note**: A Pandas DataFrame represents just one table, whereas Excel files can have multiple tables (sheets), so when using `.read_excel()`, we should specify the sheet_name we want to read in.

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/rmontielz/rmontielz.github.io/refs/heads/main/IES_clean.csv") # Read the data from the Excel file, specifying the sheet name and skipping the first 5 rows

df.head(10)

,Año Comercial,Actividad economica,Subrubro economico,Rubro economico,Número de empresas,Ventas anuales en UF,Número de trabajadores dependientes informados,Renta neta informada en UF,Trabajadores ponderados por meses trabajados,Número de trabajadores dependientes de género femenino informados,...,Trabajadores de género masculino ponderados por meses trabajados,Número de trabajadores a honorarios informados,Honorarios pagados informados en UF,Trabajadores a honorarios ponderados por meses trabajados,Número de trabajadores a honorarios de género femenino informados,Honorarios pagados informados a trabajadores de género femenino en UF,Trabajadores a honorarios de género femenino ponderados por meses trabajados,Número de trabajadores a honorarios de género masculino informados,Honorarios pagados informados a trabajadores de género masculino en UF,Trabajadores a honorarios de género masculino ponderados por meses trabajados
0,2005,853110 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,1,*,565,*,525,228,...,308,"1,320",*,0,471,*,0,849,*,0
1,2005,853201 - Enseñanza superior en institutos prof...,853 - Enseñanza superior,P - Enseñanza,978,"17,482,300","30,891","5,239,181","22,439","14,424",...,"11,772","38,995","1,735,179",0,"16,628","662,026",0,"22,367","1,069,044",0
2,2005,853120 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,86,*,"60,539",*,"52,785","27,576",...,"28,928","132,827",*,0,"59,950",*,0,"72,877",*,0
3,2005,853202 - Enseñanza superior en centros de form...,853 - Enseñanza superior,P - Enseñanza,91,"1,587,771","12,185","2,988,703","11,408","2,143",...,"9,488","2,531","150,708",0,974,"53,060",0,"1,557","97,050",0
4,2006,853201 - Enseñanza superior en institutos prof...,853 - Enseñanza superior,P - Enseñanza,933,"16,600,377","29,474","4,947,651","19,718","13,977",...,"10,046","39,902","1,830,593",0,"16,885","700,086",0,"23,017","1,127,110",0
5,2006,853120 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,76,"74,933,329","64,377","21,697,186","53,815","29,386",...,"29,397","137,870","9,191,153",0,"64,214","3,482,991",0,"73,656","5,683,199",0
6,2006,853202 - Enseñanza superior en centros de form...,853 - Enseñanza superior,P - Enseñanza,97,"1,638,798","12,062","3,025,050","11,259","2,186",...,"9,318","2,204","151,050",0,860,"52,341",0,"1,344","98,041",0
7,2007,853201 - Enseñanza superior en institutos prof...,853 - Enseñanza superior,P - Enseñanza,840,"16,800,036","24,245","4,705,221","18,567","12,230",...,"9,307","37,554","1,724,381",0,"16,258","669,855",0,"21,296","1,052,256",0
8,2007,853120 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,62,"73,592,474","64,823","21,826,129","54,338","30,229",...,"29,305","142,531","9,063,221",0,"67,838","3,503,506",0,"74,693","5,537,197",0
9,2007,853202 - Enseñanza superior en centros de form...,853 - Enseñanza superior,P - Enseñanza,120,"1,772,289","12,209","3,130,410","11,367","2,315",...,"9,345","2,088","141,309",0,801,"49,971",0,"1,287","90,942",0

<br>

We're getting the data, but there are lots of rows we don't need before we get to our variable names. To fix this, we can use the `skiprows` parameter.

In [107]:
df = pd.read_csv("https://raw.githubusercontent.com/rmontielz/rmontielz.github.io/refs/heads/main/IES_clean.csv") # Read the data from the Excel file, specifying the sheet name and skipping the first 5 rows


# Let's also make the column names more readable
df = df.rename(columns={
    'Año Comercial': 'date',
    'Actividad economica': 'code',
    'Ventas anuales en UF': 'ventas',
    'Trabajadores ponderados por meses trabajados': 'labour'
})

df.head(10)

,date,code,Subrubro economico,Rubro economico,Número de empresas,ventas,Número de trabajadores dependientes informados,Renta neta informada en UF,labour,Número de trabajadores dependientes de género femenino informados,...,Trabajadores de género masculino ponderados por meses trabajados,Número de trabajadores a honorarios informados,Honorarios pagados informados en UF,Trabajadores a honorarios ponderados por meses trabajados,Número de trabajadores a honorarios de género femenino informados,Honorarios pagados informados a trabajadores de género femenino en UF,Trabajadores a honorarios de género femenino ponderados por meses trabajados,Número de trabajadores a honorarios de género masculino informados,Honorarios pagados informados a trabajadores de género masculino en UF,Trabajadores a honorarios de género masculino ponderados por meses trabajados
0,2005,853110 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,1,*,565,*,525,228,...,308,"1,320",*,0,471,*,0,849,*,0
1,2005,853201 - Enseñanza superior en institutos prof...,853 - Enseñanza superior,P - Enseñanza,978,"17,482,300","30,891","5,239,181","22,439","14,424",...,"11,772","38,995","1,735,179",0,"16,628","662,026",0,"22,367","1,069,044",0
2,2005,853120 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,86,*,"60,539",*,"52,785","27,576",...,"28,928","132,827",*,0,"59,950",*,0,"72,877",*,0
3,2005,853202 - Enseñanza superior en centros de form...,853 - Enseñanza superior,P - Enseñanza,91,"1,587,771","12,185","2,988,703","11,408","2,143",...,"9,488","2,531","150,708",0,974,"53,060",0,"1,557","97,050",0
4,2006,853201 - Enseñanza superior en institutos prof...,853 - Enseñanza superior,P - Enseñanza,933,"16,600,377","29,474","4,947,651","19,718","13,977",...,"10,046","39,902","1,830,593",0,"16,885","700,086",0,"23,017","1,127,110",0
5,2006,853120 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,76,"74,933,329","64,377","21,697,186","53,815","29,386",...,"29,397","137,870","9,191,153",0,"64,214","3,482,991",0,"73,656","5,683,199",0
6,2006,853202 - Enseñanza superior en centros de form...,853 - Enseñanza superior,P - Enseñanza,97,"1,638,798","12,062","3,025,050","11,259","2,186",...,"9,318","2,204","151,050",0,860,"52,341",0,"1,344","98,041",0
7,2007,853201 - Enseñanza superior en institutos prof...,853 - Enseñanza superior,P - Enseñanza,840,"16,800,036","24,245","4,705,221","18,567","12,230",...,"9,307","37,554","1,724,381",0,"16,258","669,855",0,"21,296","1,052,256",0
8,2007,853120 - Enseñanza superior en universidades p...,853 - Enseñanza superior,P - Enseñanza,62,"73,592,474","64,823","21,826,129","54,338","30,229",...,"29,305","142,531","9,063,221",0,"67,838","3,503,506",0,"74,693","5,537,197",0
9,2007,853202 - Enseñanza superior en centros de form...,853 - Enseñanza superior,P - Enseñanza,120,"1,772,289","12,209","3,130,410","11,367","2,315",...,"9,345","2,088","141,309",0,801,"49,971",0,"1,287","90,942",0

Now, we've got our series names as column headers, but there's a couple rows we don't need at the top. There are lots of ways we could remove these. We'll do it by removing any rows where the `date` value is non-numeric.

In [95]:
print("Unique values in 'code':", df['code'].unique())

Unique values in 'code': ['853110 - Enseñanza superior en universidades públicas'
 '853201 - Enseñanza superior en institutos profesionales'
 '853120 - Enseñanza superior en universidades privadas'
 '853202 - Enseñanza superior en centros de formación técnica']

In [108]:
# Step 1: Inspect unique values again (already done)
print("Unique values in 'ventas':", df['ventas'].unique())
print("Unique values in 'labour':", df['labour'].unique())

# Step 2: Clean the 'ventas' column
# Remove '*' and commas, and convert to numeric
df['ventas'] = df['ventas'].replace({'*': np.nan})  # Replace '*' with NaN
df['ventas'] = df['ventas'].str.replace(',', '')  # Remove commas
df['ventas'] = pd.to_numeric(df['ventas'], errors='coerce')  # Convert to numeric

# Step 3: Clean the 'labour' column
df['labour'] = df['labour'].str.replace(',', '')  # Remove commas (if any)
df['labour'] = pd.to_numeric(df['labour'], errors='coerce')  # Convert to numeric

# Step 4: Types
df['code'] = df['code'].replace({
    '853120 - Enseñanza superior en universidades privadas' : 'Private University',
    '853110 - Enseñanza superior en universidades públicas' : 'Public University',
    '853201 - Enseñanza superior en institutos profesionales' : 'Professional Institute',
    '853202 - Enseñanza superior en centros de formación técnica' : 'Center for Technical Formation'
})

Unique values in 'ventas': ['*' '17,482,300' '1,587,771' '16,600,377' '74,933,329' '1,638,798'
 '16,800,036' '73,592,474' '1,772,289' '2,219,258' '77,439,128'
 '17,397,158' '2,842,699' '72,035,068' '19,251,229' '71,988,347'
 '3,345,714' '20,126,007' '77,676,755' '3,778,991' '22,776,807'
 '24,371,629' '3,887,687' '78,264,631' '26,855,420' '77,174,814'
 '4,317,948' '4,349,638' '81,008,442' '26,684,182' '28,222,574'
 '60,303,604' '4,241,266' '57,570,919' '4,605,995' '28,603,745'
 '26,086,195' '4,252,474' '51,606,831' '27,529,546' '4,589,780'
 '45,898,227' '5,518,599' '25,277,918' '83,569,554' '23,066,921'
 '78,655,665' '5,275,824' '43,054,348' '22,743,911' '5,185,717'
 '87,012,841' '25,692,230' '23,724,957' '5,332,950' '92,354,794'
 '25,231,569']
Unique values in 'labour': ['525' '22,439' '52,785' '11,408' '19,718' '53,815' '11,259' '18,567'
 '54,338' '11,367' '11,572' '58,891' '19,046' '11,539' '48,282' '18,761'
 '48,670' '11,339' '19,067' '49,184' '11,498' '20,568' '21,046' '11,776'
 '51,380' '22,115' '46,509' '12,044' '11,758' '48,081' '21,981' '22,761'
 '38,100' '11,929' '36,998' '11,931' '23,638' '22,289' '12,052' '38,388'
 '63,471' '23,031' '12,297' '23,627' '33,562' '1,434' '20,039' '58,003'
 '24,222' '52,808' '1,609' '36,706' '20,837' '1,839' '45,793' '19,390'
 '22,910' '2,098' '52,291' '23,400']

In [64]:
import numpy as np

In [109]:
# Let's make the date column a number and drop everything that isn't one
df['date'] = pd.to_numeric(df['date'], errors='coerce')
df = df.dropna(subset=['date'])
# Then convert it back to an integer (to make sure we can use it as a date (temporal) later in Vega-Lite)
df['date'] = df['date'].astype(int)

df['date'] = pd.to_datetime(df['date'], format='%Y')

df.head()

,date,code,Subrubro economico,Rubro economico,Número de empresas,ventas,Número de trabajadores dependientes informados,Renta neta informada en UF,labour,Número de trabajadores dependientes de género femenino informados,...,Trabajadores de género masculino ponderados por meses trabajados,Número de trabajadores a honorarios informados,Honorarios pagados informados en UF,Trabajadores a honorarios ponderados por meses trabajados,Número de trabajadores a honorarios de género femenino informados,Honorarios pagados informados a trabajadores de género femenino en UF,Trabajadores a honorarios de género femenino ponderados por meses trabajados,Número de trabajadores a honorarios de género masculino informados,Honorarios pagados informados a trabajadores de género masculino en UF,Trabajadores a honorarios de género masculino ponderados por meses trabajados
0,2005-01-01,Public University,853 - Enseñanza superior,P - Enseñanza,1,NaN,565,*,525,228,...,308,"1,320",*,0,471,*,0,849,*,0
1,2005-01-01,Professional Institute,853 - Enseñanza superior,P - Enseñanza,978,17482300.0,"30,891","5,239,181",22439,"14,424",...,"11,772","38,995","1,735,179",0,"16,628","662,026",0,"22,367","1,069,044",0
2,2005-01-01,Private University,853 - Enseñanza superior,P - Enseñanza,86,NaN,"60,539",*,52785,"27,576",...,"28,928","132,827",*,0,"59,950",*,0,"72,877",*,0
3,2005-01-01,Center for Technical Formation,853 - Enseñanza superior,P - Enseñanza,91,1587771.0,"12,185","2,988,703",11408,"2,143",...,"9,488","2,531","150,708",0,974,"53,060",0,"1,557","97,050",0
4,2006-01-01,Professional Institute,853 - Enseñanza superior,P - Enseñanza,933,16600377.0,"29,474","4,947,651",19718,"13,977",...,"10,046","39,902","1,830,593",0,"16,885","700,086",0,"23,017","1,127,110",0

Now, let's select just the columns we want. We can do this using double square brackets, where the inner list is just a list of the columns we want to keep.

In [110]:
# Let's keep those
df = df[['date','code', 'ventas', 'labour']]
df.head(10)

        date                            code      ventas  labour
0 2005-01-01               Public University         NaN     525
1 2005-01-01          Professional Institute  17482300.0   22439
2 2005-01-01              Private University         NaN   52785
3 2005-01-01  Center for Technical Formation   1587771.0   11408
4 2006-01-01          Professional Institute  16600377.0   19718
5 2006-01-01              Private University  74933329.0   53815
6 2006-01-01  Center for Technical Formation   1638798.0   11259
7 2007-01-01          Professional Institute  16800036.0   18567
8 2007-01-01              Private University  73592474.0   54338
9 2007-01-01  Center for Technical Formation   1772289.0   11367

Almost there! Lastly we need to transform the data into long-format. This is the preferred data format for many visualisation languages, including Vega-Lite.

**What is long-form?** Long-form data is when each row represents a single observation. In this case, each row would represent a single data point for a single date and series (Goods or Services).

In [111]:
# Let's make this data long-form using Panda's melt function
df = df.melt(id_vars=['date','code'], var_name='series', value_name='value')   # id_vars are the columns we want to keep as they are, var_name is the name of the column that will contain the old column names, and value_name is the name of the column that will contain the old values

# finally, going to format the date column as a date, and divide through by 1000 to make the numbers into billions
# df['date'] = pd.to_datetime(df['date'], format='%Y')
# df['value'] = df['value'] / 1000


# # And save it
df.to_csv("IES_long.csv", index=False)
df

          date                            code  series       value
0   2005-01-01               Public University  ventas         NaN
1   2005-01-01          Professional Institute  ventas  17482300.0
2   2005-01-01              Private University  ventas         NaN
3   2005-01-01  Center for Technical Formation  ventas   1587771.0
4   2006-01-01          Professional Institute  ventas  16600377.0
..         ...                             ...     ...         ...
115 2021-01-01          Professional Institute  labour     19390.0
116 2022-01-01               Public University  labour     22910.0
117 2022-01-01  Center for Technical Formation  labour      2098.0
118 2022-01-01              Private University  labour     52291.0
119 2022-01-01          Professional Institute  labour     23400.0

[120 rows x 4 columns]

Now, we could upload this to GitHub and use it to make a chart in Vega-Lite.

<br>

---

We can also make a chart with it directly from Colab

In [112]:
print(df.head())  # Show first few rows
print(df.info())  # Show DataFrame info

        date                            code  series       value
0 2005-01-01               Public University  ventas         NaN
1 2005-01-01          Professional Institute  ventas  17482300.0
2 2005-01-01              Private University  ventas         NaN
3 2005-01-01  Center for Technical Formation  ventas   1587771.0
4 2006-01-01          Professional Institute  ventas  16600377.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    120 non-null    datetime64[ns]
 1   code    120 non-null    object
 2   series  120 non-null    object
 3   value   116 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.9+ KB
None

In [113]:
import altair as alt

# Create the line chart
line_chart = alt.Chart(df).mark_line().encode(
    x=alt.X('date:T', title="Year"),
    y=alt.Y('value:Q', title="Value"),
    color=alt.Color('code:N', title="Institution Type"),
                    tooltip=['date:T', 'value:Q', 'code:N'],
    strokeDash=alt.StrokeDash('series:N', title="Metric"),
    )

# # Labels for the most recent year
# labels = line_chart.transform_filter(alt.datum.date == "2022").mark_text(align='left', dx=5).encode(
#     text=alt.Text('series:N')
# )

# Combine the line chart and labels
chart = (line_chart + labels).properties(
    width=600,
    height=400,
).configure_view(
    stroke=None,
)

# Save the chart
chart.save("IES_trends.json")

chart

AttributeError: module 'altair' has no attribute 'CategoryColor'

In [114]:


# Create the ventas line chart
ventas_chart = alt.Chart(df[df['series'] == 'ventas']).mark_line(strokeDash=[5, 5]).encode(
    x=alt.X('date:T', title="Year", axis=alt.Axis(format="%Y")),
    y=alt.Y('value:Q', title="Sales (UF)", axis=alt.Axis(titleColor='blue')),
   color=alt.Color('code:N', title="Institution Type"),
   tooltip=['date:T', 'value:Q', 'code:N']  # Tooltip to show details
)

# Create the labour line chart
labour_chart = alt.Chart(df[df['series'] == 'labour']).mark_line().encode(
    x=alt.X('date:T', title="Year", axis=alt.Axis(format="%Y")),
    y=alt.Y('value:Q', title="Labour (Employees)", axis=alt.Axis(titleColor='orange')),
    color=alt.Color('code:N', title="Institution Type"),  # Different colors for each institution type
    tooltip=['date:T', 'value:Q', 'code:N']  # Tooltip to show details
)

# Combine the two charts using layering
combined_chart = alt.layer(ventas_chart, labour_chart).resolve_scale(
    y='independent'  # This makes sure each chart can have its own scale
).properties(
    width=600,
    height=400,
)

# Save the combined chart to a single JSON file
combined_chart.save("IES_trends.json")

# Display the combined chart
combined_chart

/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/usr/local/lib/python3.10/dist-packages/altair/utils/core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)